// Use our utility classes from underCSS in _underscore
@import '../../../_underscore/Component/Library/underCSS/underCSS';

// Use all partials for all components.
@import '../../../togahub/Component/Ui/Global';
@import '../../../togahub/Component/Ui/Backdrop/Backdrop';
@import '../../../togahub/Component/Ui/Button/Button';
@import '../../../togahub/Component/Ui/Tag/Tag';
@import '../../../togahub/Component/Ui/Header/Header';
@import '../../../togahub/Component/Ui/NavLink/NavLink';
@import '../../../togahub/Component/Ui/Overlay/Overlay';
@import '../../../togahub/Component/Ui/Table/Table';
@import '../../../togahub/Component/Ui/Table/Pagination/Pagination';

// Note: listing each one out manually is crappy. We should find and include them dynamically. Plus we should use the @use command

/* -------------------------------------------------------------------------- */
/*                              GLOBAL APP STYLES                             */
/* -------------------------------------------------------------------------- */

.mainbar-wrapper {
	display: grid;
	grid-template-columns: 3fr 1fr;
	.mainbar {

	}

	.sidebar-wrapper {
		.sidebar {
			min-height: 50vh;
			padding: $lg;
		}
	}
}

/* -------------------------- END GLOBAL APP STYLES ------------------------- */