<div class="container">
	<div class="section">
		<h1 class="page-title">Form Test</h1>
		<h2>Basic HTML inputs</h2>
		<div class="form-grid">
			<_Component_Form_Input name="Text" id="text-id" type="text" placeholder="Placeholder" required="required"
				label="Text" icon="user-astronaut">
				Text
			</_Component_Form_Input>
			<_Component_Form_Input class="input--invalid" name="Checkbox" id="checkbox-id" type="checkbox" placeholder="Placeholder"
				required="required" label="Checkbox">
				Checkbox
			</_Component_Form_Input>
			<_Component_Form_Input class="input--valid" name="Radio" id="radio-id" type="radio" placeholder="Placeholder" required="required"
				label="Radio">
				Radio
			</_Component_Form_Input>
			<_Component_Form_Input class="input--invalid" name="Select" id="select-id" type="select" placeholder="Placeholder"
				required="required" label="Select">
				Select
			</_Component_Form_Input>
			<_Component_Form_Input class="input--valid" name="Textarea" id="textarea-id" type="textarea" placeholder="Placeholder"
				required="required" label="Textarea">
				Textarea
			</_Component_Form_Input>
			<_Component_Form_Input class="input--valid" name="Number" id="number-id" type="number" placeholder="Placeholder" required="required"
				label="Number">
				Number
			</_Component_Form_Input>
		</div>
	</div>
	<div class="section">
		<h2>Advanced HTML inputs</h2>
		<div class="form-grid">
			<_Component_Form_Input class="input--valid" name="Email" id="email-id" type="email" placeholder="Placeholder" required="required"
				label="Email">
				Email
			</_Component_Form_Input>
			<_Component_Form_Input class="input--valid" name="Password" id="password-id" type="password" placeholder="Placeholder"
				required="required" label="Password">
				Password
			</_Component_Form_Input>
			<_Component_Form_Input class="input--invalid" name="file" id="file-id" type="file" placeholder="Placeholder" required="required"
				label="file">
				file
			</_Component_Form_Input>
			<_Component_Form_Input class="input--invalid" name="color" id="color-id" type="color" placeholder="Placeholder" required="required"
				label="Color">
				Color
			</_Component_Form_Input>
			<_Component_Form_Input class="input--invalid" name="tel" id="tel-id" type="tel" placeholder="Placeholder" required="required"
				label="tel">
				tel
			</_Component_Form_Input>
			<_Component_Form_Input class="input--invalid" name="test" id="url-id" type="url" placeholder="Placeholder" required="required"
				label="URL">
				URL
			</_Component_Form_Input>
			<_Component_Form_Input class="input--invalid" name="test" id="range-id" type="range" placeholder="Placeholder" required="required"
				label="range">
				range
			</_Component_Form_Input>
		</div>
	</div>
	<div class="section">
		<h2>Date-time HTML inputs</h2>
		<div class="form-grid">
			<_Component_Form_Input class="input--invalid" name="date-time" id="date-time-id" type="date-time" placeholder="Placeholder"
				required="required" label="date-time">
				date-time
			</_Component_Form_Input>
			<_Component_Form_Input class="input--valid" name="time" id="time-id" type="time" placeholder="Placeholder" required="required"
				label="time">
				time
			</_Component_Form_Input>
			<_Component_Form_Input name="date" id="date-id" type="date" placeholder="Placeholder" required="required"
				label="date">
				date
			</_Component_Form_Input>
			<_Component_Form_Input class="input--invalid" name="week" id="week-id" type="week" placeholder="Placeholder" required="required"
				label="week">
				week
			</_Component_Form_Input>
			<_Component_Form_Input class="input--valid" name="month" id="month-id" type="month" placeholder="Placeholder" required="required"
				label="month">
				month
			</_Component_Form_Input>
			<_Component_Form_Input class="input--invalid" name="year" id="year-id" type="year" placeholder="Placeholder" required="required"
				label="year">
				year
			</_Component_Form_Input>
		</div>
	</div>
	<div class="section">
		<h2>Custom inputs</h2>
		<div class="form-grid">
			<_Component_Form_Input class="input--valid" name="toggle" id="toggle-id" type="toggle" placeholder="Placeholder"
				required="required" label="toggle">
				toggle
			</_Component_Form_Input>
			<_Component_Form_Input class="input--invalid" name="search" id="search-id" type="search" placeholder="Placeholder"
				required="required" label="search">
				search
			</_Component_Form_Input>
			<_Component_Form_Input class="input--invalid" name="address" id="address-id" type="address" placeholder="Placeholder"
				required="required" label="address">
				address
			</_Component_Form_Input>
			<_Component_Form_Input class="input--valid" name="signature" id="signature-id" type="signature" placeholder="Placeholder"
				required="required" label="signature">
				signature
			</_Component_Form_Input>
		</div>
	</div>
</div>