<div class="container">
	<div class="section">
		<h1 class="page-title">Orders</h1>
	</div>
	<div class="section mainbar-wrapper">
		<div class="mainbar">
			<!--_Component_Ui_Table-- namespace="togahub"></!--_Component_Ui_Table-->
		</div>
		<div class="sidebar-wrapper">
			<div class="sidebar border-primary border-1 bg-ghostly-primary rounded-md">
				<_Component_Ui_Heading namespace="togahub" heading="h4">Order Details</_Component_Ui_Heading>
				<_Component_Ui_Button namespace="togahub" shape="outline" icon="receipt" onclick="doathing();">View Invoice</_Component_Ui_Button>
				<div class="grid grid-cols-2">
					<span class="grid-key">
						Created
					</span>
					<span class="grid-value">
						1:20p, Jan 30, 2021
					</span>
					<span class="grid-key">
						Updated
					</span>
					<span class="grid-value">
						12:29a, Feb 2, 2022
					</span>
				</div>

				<_Component_Ui_Heading namespace="togahub" heading="h4">Ship To</_Component_Ui_Heading>
				<_Component_Ui_Heading namespace="togahub" heading="h4">Products</_Component_Ui_Heading>
				<_Component_Ui_Heading namespace="togahub" heading="h4">Shipments</_Component_Ui_Heading>
				<_Component_Ui_Heading namespace="togahub" heading="h4">Tags</_Component_Ui_Heading>
				<_Component_Ui_Heading namespace="togahub" heading="h4">Notes</_Component_Ui_Heading>
				<div class="sidebar-cta">
				<_Component_Ui_Button namespace="togahub" shape="outline" icon="trash-alt" color="red" onclick="doathing();">Delete</_Component_Ui_Button>
				<_Component_Ui_Button namespace="togahub" shape="outline" icon="reply" onclick="doathing();">Discard</_Component_Ui_Button>
				<_Component_Ui_Button namespace="togahub" shape="flat" icon="check" onclick="doathing();">Save</_Component_Ui_Button>
				</div>
			</div>
		</div>
	</div>
</div>